# Belezas Naturais Brasileiras — Code Owners

# ============================================================================
# PADRÃO: Toda a equipe é responsável por padrão
# ============================================================================
* @ana.pfeilsticker @antonioscarvalho @brenoalexandre0 @Heloisa-Santos @MarioViniciusBC @mtsmgn0 @PauloFilho2 @vitor-hoffmann @zlimaz
